*{
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: whitesmoke;
}

nav {
    display: flex;
    background-color: grey;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
}

.companyLogoImage {
    height: 65px;
    margin-right: 5px;
    padding-left: 30px;
}

nav h2{
    font-style: italic;
    text-decoration: underline;
}

.container1{
    display: flex;
    min-height:calc(100vh - 140px) ;
    justify-content: center;
    align-items: center;
}

.container1 .imageHolder img {
    max-width: 450px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.container2{
    display: flex;
    min-width: 900px;
    border: 2px solid grey;
    box-shadow: 3px 3px 2px 3px rgb(171, 171, 171);
    border-radius: 10px;
}

.imageHolder, #loginDetails{
    max-height: 450px;
}

#loginDetails{
    width: 450px;
    padding: 50px;
}

form {
    width: 350px;
    display: flex;
    flex-direction: column;
}

.username, .password {
    font-size: medium;
    font-weight: 400;
}

#username, #password{
    all: unset;
    border-bottom: 2px solid grey;
    height: 30px;
    margin-bottom: 10px;
}

#username {
    margin-bottom: 20px;
}

form i {
    color: rgb(171, 171, 171);
    text-align: end;
    position: relative;
    top: -29px;
    height: 2px;
}

.info{
    display: none;
    color: red;
}

#loginButton{
    padding: 7px;
    width: 350px;
    border: none;
    border-radius: 3px;
    color: rgb(255, 200, 0);
    background-color: rgb(130, 130, 130);
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
    margin: 10px 0px;
}

#loginButton:hover{
    background-color: rgb(255, 200, 0);
    color: rgb(130, 130, 130);
}

.signUps{
    display: flex;
    justify-content: space-between;
}

.signUps a {
    text-decoration: none;
    color: black;
}

.signUps a:hover{
    text-decoration: underline;
}

.followUsText {
    width: 350px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: rgb(97, 96, 96);
    margin-top: 40px;
}

.socialMediaHandles {
    margin-top: 30px;
    display: flex;
    width: 250px;
    margin-left: 40px;
    justify-content: space-around;
}
.facebook, .instagram {
    width: 33px;
    position: relative;
    bottom: -10px;
}

.linkedin{
    width: 55px;
}

#copyright{
    padding-right: 30px;
    display: flex;
    justify-content: end;
}