body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
}

nav{
    width: inherit;
    height: 200px;
}

#pageHeader {
    display: flex;
    background-color: grey;
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: 90%;
}

.companyLogoImage {
    height: 65px;
    margin-right: 5px;
    padding-left: 30px;
}

.siteNameText{
    font-style: italic;
    text-decoration: underline;
}

#PasswordContainer{
    width: 500px;
    height: 500px;
    border: none;
    border-radius: 7px;
    background-color: whitesmoke;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-55%, -50%);
    display: flex;
    flex-direction: column;
}

#warningImage{
    width: inherit;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

.warningLogo{
    width: 90px;
    height: 90px;
}

#actionChoice{
    margin: 0px 20px;
    display: flex;
    justify-content: space-around;
}

#actionChoice  button{
    border: none;
    background-color: whitesmoke;
}

#forgotPassword, #resetPassword{
    font-size: 120%;
    font-weight: bold;
    margin-bottom: 30px;
    color: black;
}

#forgotPassword:hover, #resetPassword:hover{
    text-decoration: underline;
    color: rgb(229, 180, 3);
}

#forgotPasswordContainer, #resetPasswordContainer{
    margin: 0px 55px;
}

#instructionText{
    margin-bottom: 60px;
    height: 30px;
    width: 400px;
    text-align: justify;
}

.instructionText{
    color: black;
}

#userName, #oldPassword, #newPassword{
    margin-top: 10px;
    padding-top: 9px;
    width: 386px;
    border: none;
    background-color: whitesmoke;
    border-bottom: 1px solid black;
}

#newPasswordLabel{
    color: black;
}

#newPassword{
    margin-bottom: 3px;
}

.showPassField{
    margin-bottom: 10px;
    font-size: small;
}

#submitFPF, #submitRPF{
    width: 390px;
    background-color: grey;
    color: rgb(229, 180, 3);
    font-size: medium;
    font-weight: bold;
    padding: 10px 0px;
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
}

#submitFPF, #userName {
    display: block;
}

#submitFPF:hover, #submitRPF:hover{
    color: grey;
    background-color: rgb(229, 180, 3);
}

.showPassField{
    margin-bottom: 30px;
}

#goBack{
    display: block;
    text-align: center;
}

#goBack a{
    color: rgb(25, 25, 25);
}

#forgotPasswordContainer{
    display: block;
}

#resetPasswordContainer{
    display: none;
}

#copyright{
    position: absolute;
    top: 93%;
    left: 83%;
    transform: translate(-7%, -17%);
}